<div class="text-center text-primary mb-4">
  <div class="h2 fw-normal mb-0">{{ 'FORGOT_YOUR_PWD' | translate }}</div>
</div>

<div class="d-flex justify-content-center">
  <div class="wrapper">

    <!-- NOTE Login form -->
    <form [formGroup]="formGroup" (ngSubmit)="onClickSubmit()">

      <!-- NOTE Email -->
      <div class="mb-3">
        <label for="email" class="form-label text-start w-100">{{ 'EMAIL' | translate }}</label>
        <input type="email" class="form-control" id="email"
          formControlName="email"
          [ngClass]="{ 'is-invalid' : formGroup.controls.email.errors && formGroup.controls.email.touched }">
        <!-- NOTE Errors -->
        <div class="invalid-feedback" *ngIf="formGroup.controls.email.hasError('required')">
          {{ 'FIELD_REQUIRED' | translate }}
        </div>
        <div class="invalid-feedback" *ngIf="formGroup.controls.email.hasError('email')">
          {{ 'FIELD_EMAIL' | translate }}
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary px-5" [disabled]="!formGroup.valid">
          {{ 'RESET_PASSWORD' | translate }}
        </button>
      </div>

      <div class="text-center my-3">
        <a routerLink="/auth/login">{{ 'BACK_TO_LOGIN' | translate }}</a>
      </div>

    </form>
  </div>
</div>
