<div class="text-center text-primary mb-4">
  <div class="h2 fw-normal mb-0">{{ 'VALIDATE_ACCOUNT' | translate }}</div>
</div>

<div class="d-flex justify-content-center">
  <div class="wrapper">

    <!-- NOTE Login form -->
    <form [formGroup]="formGroup" (ngSubmit)="onClickSubmit()">

      <!-- NOTE Password -->
      <div class="mb-3">
        <label for="password" class="form-label text-start w-100">{{ 'PASSWORD' | translate }}</label>
        <input type="password" class="form-control" id="password"
          formControlName="password"
          [ngClass]="{ 'is-invalid' : formGroup.controls.password.errors && formGroup.controls.password.touched }">
        <!-- NOTE Errors -->
        <div class="invalid-feedback" *ngIf="formGroup.controls.password.hasError('required')">
          {{ 'FIELD_REQUIRED' | translate }}
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary px-5" [disabled]="!formGroup.valid">
          {{ 'VALIDATE' | translate }}
        </button>
      </div>

    </form>
  </div>
</div>
